@model IndexViewModel

@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4" id="temp-display">Welcome</h1>
</div>

@section scripts {
    <script src="~/js/main.js" asp-append-version="true"></script>
}
